@import "tailwindcss";
 .card{
    @apply w-full min-w-[250px] relative p-5 rounded-xl z-1
      transition-all
}

.neon-border {
  position: relative;
  border-radius: 20px;
  overflow: hidden;
  width: 100%;
  min-width:250px;
}

.neon-border::before {
  content: "";
  position: absolute;
  inset: 0;
  border-radius: 20px;
  padding: 2px;
  background: linear-gradient(
    90deg,
    transparent 0%,
    var(--neon-color, #0ff) 50%,
    transparent 100%
  );
  background-size: 200% 200%;
  animation: moveBorder 2s linear infinite;
  -webkit-mask: 
     linear-gradient(#fff 0 0) content-box, 
     linear-gradient(#fff 0 0);
  -webkit-mask-composite: xor;
          mask-composite: exclude;
  z-index: 2;
  pointer-events: none;
}
@keyframes moveBorder {
  0% {
    background-position: 0% 50%;
  }
  100% {
    background-position: 200% 50%;
  }
}



.card.dark{
    @apply hover:shadow-blue-500/20 bg-gray-800/50 border-gray-700
}
.card.light{
    @apply hover:shadow-blue-500/30  bg-gray-50 border-gray-200
}


.badge{
    @apply px-4 pt-3 py-2 text-sm rounded-full  hover:scale-110 transition-transform cursor-pointer flex items-center
}

.badge.dark{
    @apply bg-gray-900 text-blue-400 border border-blue-500/30
}

.badge.light{

    @apply bg-blue-100 text-amber-800 border border-blue-300
}

